body {
    font-family: 'Arial', sans-serif;
}

.color-box {
    width: 250px;
    height: 250px;
    border: 2px solid #ddd;
    background-color: #000000;
    transition: background-color 0.3s ease-in-out;
}
